<div class="container text-center h-75 py-5">
  <h2 class=" text-center text-capitalize"><%= hero.heading %></h2>
  <br>
  <div class= ><p class="text-muted"><%= hero.description %> </p>
    <br>
    <a href="<%= hero.btnUrl %>" class="btn btn-primary btn-dark"><%= hero.btn %></a>
  </div>
</div>