<%- include("../partials/navbar") %> 
<div class="services-page mt-5">
  <div class="container py-5">
    <h1 class="text-capitalize text-center">Services page</h1>
  </div>
</div>
<%- include("../partials/footer") %> 
